In [2]:
import requests

# Fetch the Hackernews post
resp = requests.get("https://hacker-news.firebaseio.com/v0/item/16222426.json")

In [3]:
# Print the response parsed as JSON
print(resp.json())

{'by': 'neis', 'descendants': 0, 'id': 16222426, 'score': 17, 'time': 1516800333, 'title': 'Duolingo-Style Learning for Data Science: DataCamp for Mobile', 'type': 'story', 'url': 'https://medium.com/datacamp/duolingo-style-learning-for-data-science-datacamp-for-mobile-3861d1bc02df'}

In [4]:
# Assign the score of the test to post_score
post_score = resp.json()["score"]
print(post_score)

17

In [ ]:
# Function to extract table to a pandas DataFrame
def extract_table_to_pandas(tablename, db_engine):
    query = "SELECT * FROM {}".format(tablename)
    return pd.read_sql(query, db_engine)

# Connect to the database using the connection URI
connection_uri = "postgresql://repl:password@localhost:5432/pagila" 
db_engine = sqlalchemy.create_engine(connection_uri)

In [ ]:
# Extract the film table into a pandas DataFrame
extract_table_to_pandas("film", db_engine)

In [ ]:
# Extract the customer table into a pandas DataFrame
extract_table_to_pandas("customer", db_engine)